@model ASP.NET_MVC.Models.ModifyPasswordViewModel
@{
    ViewBag.Title = "ModifyPassword";
}
@using (Html.BeginForm())
{   
    <table style="width:100%">
        <tr>
            <td>
                @Html.LabelFor(m => m.OldPassword)
            </td>
            <td>
                @Html.PasswordFor(m => m.OldPassword)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.NewPassword)
            </td>
            <td>
                @Html.PasswordFor(m => m.NewPassword)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ConfirmPassword)
            </td>
            <td>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input ID="btnModify" type="submit" Text="修改" style="height: 21px" />
            </td>
        </tr>
    </table>
}